.container-fluid
	.row.whitebg.shadow
		.col-md-3.whitebg
		.col-sm-2.whitebg
			
		.col-md-3.whitebg.text-center
			h3 Perfume Application
		.col-md-4.whitebg.text-right
			if data
				a(href="/product")
						img(class="navbarimg", src="images/home-re-icon.png", title="Home")
				a(href="/product/addperfume")
						img(class="navbarimg", src="images/Book-icon-gif.gif" title="Add perfume")
				a(href="/users/logout")
					img(class="navbarimg", src="images/logout_icon.png")



