
/*
  Menu
*/
nav#slide-menu {
  position: fixed;
  background-color:#283550;
  left: -25%;
  top:61px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 25%;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  z-index:1;
}
nav#slide-menu > ul {
  display: block;
  margin: 0px;
  padding: 0;
  list-style: none;
  opacity: 0.5;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#slide-menu > ul li {
  color: #FFFFFF;
  font-size:20px;
  font-variant:small-caps;
  padding: 33px 15px;
  white-space:nowrap;
  cursor: pointer;
  border-bottom: 1px solid #1a2336;
  
}
nav#slide-menu > ul li:hover {
  color: #cdd3e0;
  background-color:#374561;
}
nav#slide-menu > ul li:before {
  display: inline-block;
}
nav#slide-menu > ul li.sep {
  border-top: 1px solid #354361;
}

body.menu-active nav#slide-menu {
  left: 0px;
}

body.menu-active nav#slide-menu ul {
  left: 0px;
  opacity: 1;
}

/*FOOTER TOGGLE*/
.footer {
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 90px;
	background: rgba(0, 0, 0, .8);
}
.containerDiv {
  width: 99%; 
  display:table;
  margin:5px 5px;
  min-height:90px;
}
.rowDiv {
  border: 1px solid #668db6;
  background: rgba(0, 0, 0, .8);
  display:table-row;
  border-radius:5px;
}
.cellDiv {
  border-right:1px solid #000;
  border-left:1px solid #4a4a4a;
  display: table-cell;
  padding: 10px;
  border-bottom: none;
  vertical-align:top;
  width:14.285714285714285714285714285714%;
}
.firstcell{
	text-align:center;
	vertical-align:middle;
	}
.lastCell {
  border-right: none;
  text-align:center;
}

.fDiv1 {
	border-right:1px solid #000;
	border-left:1px solid #4a4a4a;
	padding:20px 10px;

}
.fDiv {
	border-right:1px solid #000;
	border-left:1px solid #4a4a4a;
	padding:15px 10px;

}
.fSupplier{
	font-size:14px;
	color:#fff;
	border:1px solid #984600;
	padding:8px;
	float:left;
	margin-right:3px;
	background: rgba(196,98,17,1);
	background: -moz-linear-gradient(top, rgba(196,98,17,1) 0%, rgba(255,117,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(196,98,17,1)), color-stop(100%, rgba(255,117,0,1)));
	background: -webkit-linear-gradient(top, rgba(196,98,17,1) 0%, rgba(255,117,0,1) 100%);
	background: -o-linear-gradient(top, rgba(196,98,17,1) 0%, rgba(255,117,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(196,98,17,1) 0%, rgba(255,117,0,1) 100%);
	background: linear-gradient(to bottom, rgba(196,98,17,1) 0%, rgba(255,117,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c46211', endColorstr='#ff7500', GradientType=0 );
}
.fCarrier{
	font-size:14px;
	color:#fff;
	border:1px solid #033f79;
	padding:8px;
	float:left;
	margin-right:3px;
	background: rgba(107,156,204,1);
	background: -moz-linear-gradient(top, rgba(107,156,204,1) 0%, rgba(39,109,178,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(107,156,204,1)), color-stop(100%, rgba(39,109,178,1)));
	background: -webkit-linear-gradient(top, rgba(107,156,204,1) 0%, rgba(39,109,178,1) 100%);
	background: -o-linear-gradient(top, rgba(107,156,204,1) 0%, rgba(39,109,178,1) 100%);
	background: -ms-linear-gradient(top, rgba(107,156,204,1) 0%, rgba(39,109,178,1) 100%);
	background: linear-gradient(to bottom, rgba(107,156,204,1) 0%, rgba(39,109,178,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b9ccc', endColorstr='#276db2', GradientType=0 );
}
.fLocation{
	font-size:14px;
	color:#fff;
	border:1px solid #075d00;
	padding:8px;
	float:left;
	margin-right:3px;
	background: rgba(32,200,0,1);
	background: -moz-linear-gradient(top, rgba(32,200,0,1) 0%, rgba(18,155,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32,200,0,1)), color-stop(100%, rgba(18,155,0,1)));
	background: -webkit-linear-gradient(top, rgba(32,200,0,1) 0%, rgba(18,155,0,1) 100%);
	background: -o-linear-gradient(top, rgba(32,200,0,1) 0%, rgba(18,155,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(32,200,0,1) 0%, rgba(18,155,0,1) 100%);
	background: linear-gradient(to bottom, rgba(32,200,0,1) 0%, rgba(18,155,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20c800', endColorstr='#129b00', GradientType=0 );
}
.fPeriod{
	font-size:14px;
	color:#fff;
	border:1px solid #1d1d1d;
	padding:8px;
	float:left;
	margin-right:3px;
	background: rgba(159,159,158,1);
	background: -moz-linear-gradient(top, rgba(159,159,158,1) 0%, rgba(93,93,90,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(159,159,158,1)), color-stop(100%, rgba(93,93,90,1)));
	background: -webkit-linear-gradient(top, rgba(159,159,158,1) 0%, rgba(93,93,90,1) 100%);
	background: -o-linear-gradient(top, rgba(159,159,158,1) 0%, rgba(93,93,90,1) 100%);
	background: -ms-linear-gradient(top, rgba(159,159,158,1) 0%, rgba(93,93,90,1) 100%);
	background: linear-gradient(to bottom, rgba(159,159,158,1) 0%, rgba(93,93,90,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f9f9e', endColorstr='#5d5d5a', GradientType=0 );
}
